{% extends 'layout.html' %}
{% block header %}
Resource Server
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-12">
  <p class="lead">Instructions</p>
  <p>Add a Resource by clicking the <strong>Add</strong> button in above that table. The same goes for Resource Types<br />
  Delete a Resource or Resource Type using the <strong>DELETE</strong> button located on the right side of the row containing the entry you want to delete.<br />
  If you make a mistake when creating a Resource or Resource Type, simply delete it and re-add it. Currently, this system does not support editing resources.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h2>
      <div class="pull-right">
        <a href="{{ url_for('resources_new') }}" class="btn btn-primary">Add</a>
      </div>
      Resources
    </h2>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>File Name</th>
          <th>Type</th>
        </tr>
      </thead>

      <tbody>
        {% for r in resources %}
          {% set rt = resource_types[r.resource_type] %}
          <tr>
            <td>{{ r.id }}</td>
            <td><a href="{{ url_for('resources_show', resource_id=r.id) }}">{{ r.file_name }}</a></td>
            <td>
              {{ rt.name }}
              <div class="options">
                <a href="{{ url_for('resources_destroy', resource_id=r.id) }}" class="btn btn-hover-danger btn-xs">DELETE</a>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if not resources %}
      <p>No resources have been created. Why not <a href="{{ url_for('resources_new') }}">make one</a>?</p>
    {% endif %}
  </div>

  <div class="col-md-offset-1 col-md-5">
    <h2>
      <div class="pull-right">
        <a href="{{ url_for('resource_types_new') }}" class="btn btn-primary">Add</a>
      </div>
      Resource Types
    </h2>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
        </tr>
      </thead>

      <tbody>
        {% for _, rt in resource_types.iteritems(): %}
          <tr>
            <td>{{ rt.id }}</td>
            <td>
              {{ rt.name }}
              <div class="options">
                <a href="{{ url_for('resource_types_destroy', resource_type_id=rt.id) }}" class="btn btn-hover-danger btn-xs">DELETE</a>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if not resource_types %}
      <p>No resource types have been created. Why not <a href="{{ url_for('resource_types_new') }}">make one</a>?</p>
    {% endif %}
  </div>
</div>
{% endblock %}
