/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree ./application/
 */

/* Import the Bootstrap stylesheets */
@import "bootstrap-sprockets";
@import "bootstrap";

.side-note {
  margin-left: 0.4em;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #aaa;
}

.table.vertical-aligned td {
  vertical-align: middle;
}

.static .form-control, .form-control:focus {
  background: none;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: none;
  border-bottom: 1px solid #aaa;
  border-radius: 0;
  font-size: 22px;
}

body {
  padding-top: 50px;
}

ul.member-list li {
  border-radius: 4px;
  padding: 4px 10px;

  .options {
    display: none;
  }

  &:hover {
    background-color: #f7f7f7;

    .options {
      display: block;
    }
  }
}
